@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap');
*{
  box-sizing: border-box;
}
img {
  width: 100%;
  height: auto;
}
.pokedex-img{
  width: 70%;
  height: 50%;
  filter: drop-shadow(0 0 0.75rem rgb(69, 50, 54));    
}
.pokemon {
  width: 100%;
  max-width: 300px;
  height: 25rem;
}

.container__pokeball {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px auto;
  cursor: pointer;
}


.pokebal {
  position: relative;
  z-index: 3;
  width: 65%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: .5s;
  margin-right: 35px;
  opacity: 0;
  transform: scale(.8) translateY(10%) translate(-50%);
}

.container__pokeball:hover .pokebal {
  transform: scale(1) translateY(0) translate(0);
  opacity: 1;
  animation: bounce 1s infinite ;
}

.pokeball__top {
  transform: translateY(-24%) translate(-20%) rotate(-30deg);
  transition: .5s;
}

.container__pokeball:hover .pokeball__top {
  transform: translateY(0) translate(0) rotate(0);
}

.pokeball__img1 {
  position: relative;
  transform: translateY(35%) translate(-4%);
  width: 142%
}

.pokeball__med {
  position: relative;
  width: 105%;
  transform: translate(7%)
}

.pokeball__circle {
  width: 15%;
  height: 40%;
  border-radius: 50%;
  border: none;
  background-color: #fff;
  position: absolute;
  z-index: 2;
  left: 50%;
  top: 46%;
  transform: translate(-50%) translateY(-46%);
  animation: pokeball-circle .5s linear infinite alternate;
}

.pokeball__img3 {
  position: relative;
  transform: translateY(-25%) translate(1%);
  width: 120%;
}

.pokeball__card {
  position: absolute;
  z-index: 7;
  transition: .5s;
  width: 18rem;
  height: 25rem;
  margin: auto;
  background-image: url("https://poke-api-9001.netlify.app/img/templeate-basic.png");
  background-color: #e5d8d8;
  background-size: cover;
  text-align: center;
  padding: 20px;
}
.fire{
  background-image: url("https://poke-api-9001.netlify.app/img/templeate-fire.png");
  background-color: #cf2d2d;
}
.grass{
  background-image: url("https://poke-api-9001.netlify.app/img/templeate-grass.png");
  background-color: #a4d655;
  
}
.water{
  background-image: url("https://poke-api-9001.netlify.app/img/templeate-water.png");
  background-color: #6fc2ff;
}
.bug{
  background-image: url("https://poke-api-9001.netlify.app/img/templeate-bug.png");
  background-color: #a9d484;
}
.container__pokeball:hover .pokeball__card {
  opacity: 0;
  transition: .5s;
  transform: scale(0);
}

@keyframes pokeball-circle {
  0% {
      background-color: red;
      box-shadow: 0 0 20px 1px red,0 0 50px 25px #df9090
  }
}

/* /////////////////////////////////////////////// */
:root {
  --animate-duration: 1s;
  --animate-delay: 1s;
  --animate-repeat: 1;
}

.animate__animated {
  animation-duration: 1s;
  animation-duration: var(--animate-duration);
  animation-fill-mode: both;
}



.animate__bounce {
  animation-name: bounce;
  transform-origin: center bottom;
}

@keyframes bounce {
    0%,20%,53%,to {
        animation-timing-function: cubic-bezier(.215,.61,.355,1);
        transform: translateZ(0);
    }

    40%,43% {
        animation-timing-function: cubic-bezier(.755,.05,.855,.06);
        transform: translate3d(0,-30px,0) scaleY(1.1);
    }

    70% {
        animation-timing-function: cubic-bezier(.755,.05,.855,.06);
        transform: translate3d(0,-15px,0) scaleY(1.05);
    }

    80% {
        transition-timing-function: cubic-bezier(.215,.61,.355,1);
        transform: translateZ(0) scaleY(.95);
    }

    90% {
        transform: translate3d(0,-4px,0) scaleY(1.02);
    }
}

.card-text{
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 17px;
  color: black;
  margin: 0;
  margin-bottom: 10px;
  border-radius: 7px;
  background-color: rgba(128, 128, 128, 0.569);  
}
.card-text-container{
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
}
.card-title{
  margin: 0;
  font-size: 25px;
  color: black;
  font-family: 'Source Sans Pro', sans-serif;
}
.card-subtitle{
  margin: 0;
  margin-bottom: 10px;
  font-size: 20px;
  font-family: 'Source Sans Pro', sans-serif;
}